<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #signoForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-select formControlName="paciente" [compareWith]="comparePaciente" placeholder="Selecciona paciente" [(value)]="pacienteSeleccionado">
        <mat-option *ngFor="let p of (pacientes$ | async)" [value]="p">
            {{p.nombres}} {{p.apellidos}}
        </mat-option>
    </mat-select>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" formControlName="fecha"
            [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Temperatura" minlength="3" required formControlName="temperatura">             
    </mat-form-field>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Pulso" minlength="3" required formControlName="pulso">             
    </mat-form-field>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Ritmo Respiratorio" minlength="3" required formControlName="ritmo">             
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signoForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/pages/signo' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
    </form>
